<mat-toolbar class="Navigation">
    <a class="logo" href="">kim.codes</a>
    <div class="spacer"></div>
    <div class="Links_Container">
        <a class="Navigation_Link" routerLink="./" fragment="home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
            true}">Home</a>
        <a class="Navigation_Link" routerLink="./" fragment="about" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
            true}">About</a>
        <a class="Navigation_Link" routerLink="./" fragment="contact" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
            true}">Contact</a>
    </div>
    
</mat-toolbar>